@font-face {
    font-family: "Helvetica Neue";
    src: url("fonts/Helvetica Neu Bold.ttf");
    font-weight: bold;
         
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("fonts/HelveticaNeue Medium.ttf");
    font-weight: normal;
}

/*Header*/
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

header {
    background-color: #d62400;
    color: rgb(242,237,214);
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: calc(1.625rem + 4.5vw);
    line-height: 1.2;
    font-weight: bold;
}

/*Main*/
main {
    background-color: rgb(246,235,219);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.row {
    width: calc(600px + 4em);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row-first {
    margin-bottom: -4em;
}

.row-second {
    margin-bottom: -1em;
}

.card {
    cursor: pointer;
    text-align: center;
    margin-top: 3em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.card img {
    height: 300px;
}

.card h3 {
    position: relative;
    background-color: white;
    font-size: 2rem;
    padding: 20px;
    top: -35px;
}

/*Footer*/
footer {
    background-color: #2b0200;
    color: #f5ebdc;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

footer h2 {
    line-height: 1.5;
    font-size: calc(1.375rem + 1.5vw);
}

footer #social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer #social ul{
    list-style: none;
}

footer #social ul li {
    float: left;
    margin-left: 24px;
}

footer ul li i{
    cursor: pointer;
}

footer #links ul {
    width: 450px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: -36px;   
}

footer #links ul li {
    float: left;
}

footer #links ul span {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1rem;
}

@media only screen and (max-width: 850px) {
    .row {
        flex-direction: column;
        width: 100%;
        
    }
    
    .card {
        text-align: center;
        width: 100%;
        margin-top: 0;
        margin-bottom: -4.1em;
    }
    
    .card img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 566px) {
    




    footer {
        padding: 12px;
    }

    footer #social ul li {
        margin-left: 12px;
    }

    footer #links ul {
        width: 100%;
        justify-content: space-between;
    }
}